{% extends "base.html" %}
{% load i18n %}
{% block body %}
    <h1>{% trans "Transactions list" %}</h1>
    <p>
        <table>
            <tr>
                <th>{%  trans 'Label' %}</th>
                <th>{%  trans 'Amount' %}</th>
                <th>{%  trans 'Currency' %}</th>
                <th>{%  trans 'Detail' %}</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{ object.label }}</td>
                <td>{{ object.initial_amount }}</td>
                <td>{{ object.initial_currency }}</td>
                <td><a href={% url "transaction_detail" object.id %}>Detail</a></td>
            </tr>
            {% endfor %}
        </table>
    </p>
{% endblock %}
