{% load i18n %}
{% extends 'base.html' %}
{% block body %}
    <h1>{% trans "Transactions list" %}</h1>
    <p>
        <table>
            <tr>
                <th>{%  trans 'Label' %}</th>
                <th>{%  trans 'Amount' %}</th>
                <th>{%  trans 'Currency' %}</th>
            </tr>

            <tr>
                <td>{{ object.label }}</td>
                <td>{{ object.initial_amount }}</td>
                <td>{{ object.initial_currency }}</td>
            </tr>
        </table>

        <td><a href={% url "transaction_list" %}>Retour</a></td>

    </p>
{%  endblock %}